{
    "presets": [
        "env", {
            "modules": false
        }
    ],
    "plugins": [
        "typecheck",
        "syntax-flow",
        "transform-flow-strip-types",
        "external-helpers"
    ]
}